<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ATA Pulsar Obs Portal</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Code+Pro">
    <link href = "./public/css/main.css" rel = "stylesheet" type="text/css">
</head>
<body>
    <div id="root">
    </div>
</body>
<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
<script src="https://npmcdn.com/babel-core@5.8.38/browser.min.js"></script>
<script type="text/babel">
    function removeTargetsForRun(el) {
        while (el.nextSibling.classList.contains("target")) {
            document.body.removeChild(el.nextSibling)
        }
        el.classList.remove("fetched")
    }

    function fetchTargetsForRun(el) {
        if (el.ref.current.classList.contains("fetched")) {
            removeTargetsForRun(el)
            return
        }

        var run = el.id;
        var this_req = new XMLHttpRequest()
        el.ref.current.classList.add("fetched")
        this_req.open("GET", "/targetlist/" + run)
        this_req.send()
        this_req.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var l = this.responseText.split("|")
                for (var target of l) {
                    var target_el = document.getElementById("obsLinkTemplate").cloneNode(true)
                    target_el.display = "block"
                    target_el.id = target
                    target_el.textContent = target
                    target_el.onclick = null
                    target_el.ref.current.classList.add("target")
                    el.parentNode.insertBefore(target_el, el.nextSibling)
                    //document.body.insertAfter(target_el, el)
                    //el.appendChild(target_el)
                }
            }
        }
    }

    function Obs(props){
        return <div className="obsLink" ref={useRef(null)} key={props.name} id={props.name} onClick={function(){fetchTargetsForRun(this)}}>{props.name}</div>;
    }

    
    var req = new XMLHttpRequest()
    req.open("GET", "/obsruns")
    req.send()
    req.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var l = this.responseText.split(",")
            l.reverse()
            var rows = []
            
            for (var run of l) {
                rows.push(Obs({'name' : run}))
            }

            ReactDOM.render(<div>{rows}</div>, document.getElementById('root'))
            
        }
    }
</script>
</html>
